# Flask Secret Key
SECRET_KEY=your_secret_key_here
JIOSAAVN_API_KEY=
JIOSAAVN_API_BASE_URL=https://api.paxsenix.org/jiosaavn

# Database Configuration (Defaults to app.db)
# SQLALCHEMY_DATABASE_URI=sqlite:///app.db